/* ConsoleNav.css */

/* Customize the color of the ToggleButtons */
.MuiToggleButton-root {
  color: #879d1f; /* Change to the desired button color */
  background-color: #879d1f;
  padding-bottom: 200px;
}

/* Customize the animation color */
.MuiToggleButtonGroup-grouped.Mui-selected {
  background-color: #879d1f; /* Change to the desired animation color */
}

/* ConsoleNav.css */

.consoleNav {
  width: 100%; /* Make the nav bar span the entire width */
  max-width: 300px; /* Limit the maximum width to prevent it from overflowing */
  margin: 0 auto; /* Center the nav bar horizontally */
  padding-bottom: 10%;
}
