.corn-click {
    border: 5px solid orange;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}

.small-3d-text {
    /* Apply styles to make the 3D text smaller */
    width: 10px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    font-size: 20px; /* Adjust font size as needed */
  }
  