.storeButtonListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .upgradeCard {
    width: calc(70vh - 70px); /* Set card width to half of viewport height minus 50 pixels */
    height: calc(15vh - 15px); /* Set card height relative to viewport height */
    margin-bottom: 20px; /* Adjust margin between cards */
  }
  
  .upgradeCardContent {
    display: flex;
    align-items: center;
    height: 100%;
    overflow-x: hidden; /* Hide horizontal overflow */
    overflow-y: auto; /* Enable vertical scroll if content overflows */
  }
  
  .upgradeImage {
    flex: 1;
  }
  
  .upgradeImage img {
    width: 75%; /* Ensure all images have the same width */
    height: 75%; /* Ensure all images have the same height */
    object-fit: cover; /* Preserve aspect ratio and cover container */
  }
  
  .upgradeDetails {
    flex: 2;
    padding: 0 20px; /* Add padding to separate text from edges */
  }
  
  .upgradeDetails h2 {
    font-size: calc(24px + 0.5vh); /* Increase font size with viewport height */
    margin-bottom: 10px; /* Add space between upgrade name and description */
  }
  
  .upgradeDetails p {
    margin-bottom: 8px; /* Add space between lines of text */
  }
  
  .upgradeActions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px; /* Add padding to align buttons with text */
  }
  
  .buyButton {
    margin-left: 10px; /* Add margin to separate button from text */
    height: 30px;
    background-color: green; /* Change button background color */
    color: white; /* Change button text color */
  }
  
  /* Media query for stacking upgrades */
  @media screen and (max-width: 768px) {
    .storeButtonListContainer {
      align-items: flex-start; /* Align upgrades to the top */
    }
  
    .upgradeCard {
      width: 100%; /* Set card width to 100% of the viewport width */
    }
  }
  